# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Laboratory6.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\igri-\Desktop\CSHARP\Laboratory6\Laboratory6\.idea\.idea.Laboratory6\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
